/* PORTFOLIO STYLE SHEET */

* {
    box-sizing: border-box;
 }


body {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 100%; 
    max-height: 100%; 
    line-height: 1.5em;
    background-color: #010101;
    color: #8a99a0;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
}



main {
    position: fixed;
    top: 150px; /* Set this to the height of the header */
    bottom: 50px; /* Set this to the height of the footer */
    left: 230px; 
    right: 0;
    overflow: auto;   
}
        
#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px; 
    overflow: hidden; /* Disables scrollbars on the header frame. To enable scrollbars, change "hidden" to "scroll" */
    background: #000;
    background-image: url("images/cosmos_homage.jpg");
    background-position: right;
    background-repeat: no-repeat;
    border: #000000 5px solid ;
}

#headername {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 60px;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: lightgray;
    /* color | offset-x | offset-y | blur-radius */
    text-shadow: #b3cbd6 1px 3px 5px;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px; 
    overflow: hidden; /* Disables scrollbars on the footer frame. To enable scrollbars, change "hidden" to "scroll" */
    background: #010101;
    color: lightgray;
    font-size: 20px;
}
        
#nav {
    position: absolute; 
    top: 150px; /* Set this to the height of the header */
    bottom: 50px; /* Set this to the height of the footer */
    left: 0; 
    width: 230px;
    overflow: auto; /* Scrollbars will appear on this frame only when there's enough content to require scrolling. To disable scrollbars, change to "hidden", or use "scroll" to enable permanent scrollbars */
    background: #010101;
    font-family: 'Poppins', sans-serif;
    color: lightgray;
    font-size: 18px;	
}

.innertube {
    margin: 45px; /* Provides padding for the content */
}


main p {
    margin-left: 5%;
    margin-right: 5%;
    /*max-width: 85ch;*/
    font-size: inherit;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05rem;
}

main p a {
    background-color: transparent;
    border: none;
    text-decoration: none;
    padding: 2px 7px;
    color: lightgray;
    font-size: inherit;
} 

main p a:hover, a:active {
    background-color: darkblue;
    border: 1px solid lightgray;
    padding: 1px 5px;
    transition-property: background-color;
    transition-duration: 0.5s;
}


/* Home page grid start */

.grid-container-element-home { 
    margin: 0 auto;
    align-content: center;
    display: grid; 
    grid-template-columns: 2fr 1fr 2fr; 
    grid-gap: 1px; 
    width: 90%; 
} 

.grid-child-element-home {
    margin: 5px; 
    text-align: center;
}

.grid-child-element-home-center {
    margin: auto 0;
    text-align: center;
}

.grid-child-element-home img {
    padding: 0 auto;
    border: 2px solid #8A99A0;
}

/* Home page grid end */



/* Portfolio table start*/

/* table code by HTML.am */
table.GeneratedTable {
    width: 95%;
    background-color: #010101;
    border-collapse: collapse;
    border-width: 0px;
    border-color: midnightblue;
    border-style: solid;
    color: #8a99a0;
}
    
table.GeneratedTable td, table.GeneratedTable th {
    border-width: 1px;
    border-color: midnightblue;
    border-style: solid;
    padding: 5px;
}
    
table.GeneratedTable td {
    text-align: center;
}

table.GeneratedTable thead {
    background-color:#010101;
}

/* Portfolio table end*/


/* Resume grid start*/

.grid-container-element {
    margin: 0 auto;
    align-content: center;
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 100px; 
    border: none; 
    width: 90%; 
} 
.grid-child-element { 
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    margin: 5px; 
    border: none; 
}

.grid-child-element img {
    border: 2px solid lightgray;
}

.grid-child-element a {
    background-color: #010101;
    color: lightgray;
    font-size: 18px;
    font-weight: 300;
    text-decoration: none;
    padding: 4px 7px;
    transition-property: 
    background-color;
    transition-duration: 0.5s;
}

.grid-child-element a:hover, a:active {
    background-color: darkblue;
    color: lightgray;
    font-weight: 300;
    padding: 2px 5px;
    border: 1px solid lightgray;
}

/* Resume grid end*/


main ul {
    list-style-type: disc;
    padding-left: 100px;
}


.quote {
    width: 80%;
    font-size: 20px;
    font-weight: 300;
    padding: 0 20px;
    border: 1px solid lightgray;

}








/* Navigation start*/

nav ul {
    list-style-type: disc;
    margin: 0;
    padding: 0 10px;
}

nav ul a {
    background-color: #000;
    color: lightgray;
    font-weight: 500;
    text-decoration: none;
    transition-property: 
    background-color;
    transition-duration: 0.5s;
    line-height: 2.0em;
}

nav a:hover, a:active {
    background-color: darkblue;
    color: lightgray;
    font-weight: 700;
    padding: 2px 5px;
    border: 1px solid lightgray;
}


.icon {
    color:lightgray;
    font-size: 30px;
}

/* Navigation end*/




#site-info {
    position: absolute;
    bottom: 0px;
    background-color: #010101;
    color: #808080;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.0em;
    padding: 1px 5px;
    border: 1px solid lightgray;
}

#site-info a {
    background-color: #000;
    color: lightgray;
    font-weight: 300;
    text-decoration: none;
}  

#credits {
    position: relative;
    bottom: 0px;
    background-color: #010101;
    color: #808080;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.0em;
    padding: 0 10px;
    border: 1px solid lightgray;
}

#credits a {
    background-color: transparent;
    color: lightgray;
    font-weight: 300;
    text-decoration: none;
}  

.footer-content{
    margin: auto 30px;
    color: lightgray;
    font-size: 12px;
    font-weight: 400;
}
        
.footer-content a {
    background-color: transparent;
    color: lightgray;
    font-weight: 300;
    text-decoration: none;
} 

.footer-content a:hover, a:active {
    background-color: transparent;
    color: lightgray;
    font-weight: 300;
    text-decoration: none;
    padding: 0 0;
    border: none;
}  



/*IE6 fix*/
* html body{
    padding: 150px 0 50px 230px; /* Set the first value to the height of the header, the third value to the height of the footer, and last value to the width of the nav */
}

* html main{ 
    height: 100%; 
    width: 100%; 
}
